<html>
    <head>
        <link rel="stylesheet" href="./main.css" />
    </head>
    <body>
        <% ids.forEach(id=>{ %>
        <iframe
            src="https://www.youtube.com/embed/<%=id%>"
            frameborder="0"
            allowfullscreen
        ></iframe>
        <% }); %>
    </body>
</html>
